[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "capnproto"]
	path = capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
