googletest/*
abseil-cpp/*
protobuf/*
boost/*
CLI11/*
libgit2/*
protobuf/*
benchmark/*
benchmark/*
fmt/*
openssl/*
zlib/*
Catch2/*
efsw/*
grpc/*

/ubuntu-22-04/*
!/ubuntu-22-04/common_sh/
!/ubuntu-22-04/*.sh
